@charset "utf-8";

@import url('css/template.css');

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Regular.ttf');
  src: url('fonts/OpenSans-Regular.eot') format('embedded-opentype'), url('fonts/OpenSans-Regular.woff') format('woff'),url('fonts/OpenSans-Regular.ttf') format('truetype');
}
/* CSS Document */
body{ 
	color:#333;
	line-height: 18px;
	background-color: #fff;
	font: 13px 'Open Sans', sans-serif!important;
	
}
.fixed-body{
	background:#DDD;
}
a {
	color:#0066bc;
	text-decoration:none;
}
a:hover {
	color:#FF6600;
	text-decoration:none;
}

a[id],
a[name]{
	display: block;
	position: relative;
	top: -90px;
	visibility: hidden;
}

.layout-fixed{width:960px;margin:auto;}
/*.layout-fixed .Subscribe{ margin-left:15px!important; margin-right:15px!important; }*/
.layout-fluid{width:100%; /*min-width:900px;*/}
.header {
	background:url('images/header.png')repeat-x;
	width: 100%;
	height: 180px;
}
.collapse{
	width:auto!important;
}
.navbar{
	width:auto!important;
	background:Transparent!important;
	border:none !important;
	box-shadow:none!important;
	height: 55px!important;
}
.navbar-collapse {
	border-top:none!important;
}
.logo_part {
	position:relative;
	margin-top:70px;
}
.navbar-nav li {
	background:url(images/line.png) no-repeat right center;
}
.navbar-nav li:last-child{
	background:none;
}
.navbar-nav li a{
	font-size: 14px;
	color: #A4D8FF!important;
	background: none;
	padding: 0px 0px!important;
	margin: 5px 5px!important;
	text-shadow: none!important;
}
.navbar-nav li a:hover{
	color:#fff!important;
}

.form-control::-moz-placeholder {
	color:#000!important;
}

.form-control {
	display: block;
	width: 100%;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #555;
	padding: 7px;
	height: auto;
	box-shadow: none;
	font-size: 13px;
}

.select-control option {font-size:12px;background:#fff;color:#888;}
.select-control {text-transform:none; display:block; margin:0px auto 20px auto; width:100%; -webkit-appearance: none; -moz-appearance: normal; appearance: normal;-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);-webkit-padding-end: 20px; -webkit-padding-start: 2px; -webkit-user-select: none;-moz-user-select: none;background-image: url(images/select-arrow.png), -webkit-linear-gradient(#FAFAFA, #f9f9f9 40%, #e8e8e8);
background-position: center right; background-repeat: no-repeat;font-size:13px;border: 1px solid #aaaaaa;color: #555555;padding:7px 5px 7px 10px;position:relative;top:9px;}

.kbtitle{
	font-size: 29px;
	font-weight:bold;
	color: #FFF;
	line-height:normal;
	margin:30px 0px;
}

.content-area {margin: 10px auto;}
.categories_tree {padding:0px 10px 0px 0px!important;}
.right-content {padding:0px!important;}

.recentview {margin:10px 0px; padding: 8px; background-color: #FFF4EA; border: 1px solid #C60; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
.recentview-title{ margin-bottom:10px; font-size:14px; font-weight:bold; color:#C60; }
.recentview a { color:#C60; }
.recentview a:hover { text-decoration:underline;}

.social-buttons-after{padding:5px 0px;}	
.social-buttons-before{padding-top:10px; margin-bottom:10px;}	
.stMainServices, .stHBubble, .stButton_gradient {min-height:25px;}

.favorite-fixed{ position:fixed; top:375px; right:0; border:1px solid #b21c1d; border-right:none; padding:0px 5px 5px 5px; background-color:#d0292d; border-top-left-radius: 6px; border-bottom-left-radius: 6px; z-index:5; moz-border-radius-topleft:6px; moz-border-radius-bottomleft:6px;}
.favorite-fixed .icon{ margin:5px 0px 0px 0px;}
.unfavorite{ border-right:none; background-color:#d0292d; border-radius:5px;}

/* Tree View CSS - Starts */
.phpkb-tree { color: #666; max-width:320px; background-color:#F1F5F8; padding:0px 0px 5px 5px; border: 1px solid #D5E2F1; border-radius:5px;}
.treeNode{ height:27px; line-height:27px; height:auto; white-space:normal; }
.phpkb-tree img { border: 0px; vertical-align: middle; }
.phpkb-tree a { color:#0066bc; text-decoration: none;}
.phpkb-tree .col{display:table-cell;padding-left:2px;}
.phpkb-tree a.node, .phpkb-tree a.nodeSel {padding: 1px 10px 1px 2px; white-space: normal;}
.phpkb-tree a.node:hover{ background-image: none; text-decoration: none; color: #FF6600; }
.phpkb-tree a.articleNode{font-size:12px;}
.phpkb-tree a.nodeSel{color: #669933; font-weight:bold; }
.phpkb-tree a.nodeHeading{ font-weight:bold; font-size:14px;}
.phpkb-tree a.nodeSel:hover {}
.phpkb-tree .clip { }
/* Tree View CSS - Ends */

.breadcrumb {
	background-color:#E1FFD1;
	border:solid 1px #C5F8AC;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 8px;
}
.breadcrumb a {color:#060;}
.breadcrumb a:hover {text-decoration:underline;}
.private {background-color: #FFF9D8;border: solid 1px #F2EBA2;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;margin-bottom: 10px;padding: 0px;}
.private a {
	color:#666666;
}
.private a:hover {
	text-decoration:underline;
}

.news {border:1px solid #a5f798;border-radius:5px;background:#f5fcf5;background-image:url(images/news.png);background-repeat:no-repeat;background-position: 99% 7px;padding:0px!important;}
.news-area{padding:0px 10px 10px 10px;}
.news h4 {color:#333333;font-size:16px; font-weight:bold;}

.news .newsitem {
	background-image:url(images/news-round.png);
	background-repeat:no-repeat;
	padding-left:30px;
	text-decoration:none;
	background-position-y:4px;
	margin-bottom: 5px;
}
.news a {color:#009F00;}
.news a:hover{color:#FF6600;}

.categories {background-color: #F1F5F8;border:solid 1px #D5E2F1;border-radius: 5px;padding:0px;}
.categories-area{padding:0px 10px 10px 10px;}
.categories-area .row{margin:0px!important;}

.categories h4, .private h4 {color:#333333;font-size:15px;font-weight:bold;padding-bottom:5px;}

.category-title {background-image: url(images/category.png);background-repeat: no-repeat;background-position-y:2px;padding-left:20px;margin:0px;padding-bottom:7px;}
.category-title a {font-weight: bold;}

.category-articles {padding-top:10px;border-bottom: solid 1px #CCCCCC;}
.section-title {padding: 6px 0px;color: #669933;font-size: 15px;font-weight: bold;}
.home-articles .section-title { padding-top:10px; border-bottom: solid 1px #CCCCCC; margin-bottom:10px;}
.subscribe-category {float: right;font-size: 13px;font-weight: normal;}
.articles-list{padding-top:10px;}

.news-section {padding:10px;}
.news-section h4 {color:#333333;font-size:16px;font-weight:bold;padding:0px!important;margin: 0 0 10px 0!important;}
#news-display {padding: 0px;margin: 0;}
#news-display li {padding: 10px 0 10px 5px;border-bottom: solid 1px #EDEDED;list-style-type: none;}
#news-display li:hover{background-color:#F9F9F9;}
#news-display .grey-text {padding-bottom:5px;}
.news-title {background-image: url(images/icon-news.png);background-repeat: no-repeat;background-position:0px 2px;padding-left: 22px;padding-bottom:6px;font-size:14px;font-weight:bold;}
.news-content{padding-top:10px;}

.gl-term {border-bottom: dotted 1px #EDEDED;margin:0 0 10px 5px;}
.acronym {cursor: help;background-image: url(images/glossary-term.png);background-repeat: no-repeat;background-position:0px 2px;padding-left: 22px;font-size:15px;font-weight:bold;}
.gl-definition {padding:5px 0px;}
.gl-related {float:right;font-size:12px;background-image: url(images/search_btn.gif);background-repeat: no-repeat;background-position:0px -3px;padding-left: 25px;line-height:22px;margin-right:10px;}

.advsearch {background-color:#eaffde;border:solid 1px #a5f798;border-radius: 5px;padding:10px!important;}
.advsearch h4 {color:#333333;font-size:15px;font-weight:bold;padding-bottom:10px;}

.search-area{padding:0px 10px;}
.results-section {border-bottom: dotted 1px #CCCCCC;}
.results-title {padding: 6px 0px;color: #669933;font-size: 17px;font-weight: bold;}
.results-paging {min-height:38px;background-color: #F1F5F8;border:solid 1px #D5E2F1;border-radius: 5px;padding:6px;margin-top:15px;}

#search-results {padding:0 0 0 25px;margin:0}
#search-results li{padding:15px 0 15px 0;border-bottom:solid 1px #EDEDED;}
#search-results li:hover{background-color:#F9F9F9;}
#search-results li a.featured_article{padding-left:22px;display:block;background-image: url(images/featured.png);background-repeat: no-repeat;}
#search-results li a.normal_article{padding-left:22px;display:block;display:block;background-image: url(images/article.png);background-repeat: no-repeat;}
#search-results li a.private_featured_article{padding-left:22px;display:block;background-image: url(images/featured-lock.png);background-repeat: no-repeat;}
#search-results li a.private_normal_article{padding-left:22px;display:block;display:block;background-image: url(images/article-lock.png);background-repeat: no-repeat;}
#search-results li a.public_category{padding-left:22px;display:block;background-image: url(images/category.png);background-repeat: no-repeat;}
#search-results li a.private_category{padding-left:22px;display:block;background-image: url(images/private.png);background-repeat: no-repeat;}
#search-results li a.news{padding-left:22px;display:block;background-image: url(images/icon-news.png);background-repeat: no-repeat;}

.article-area{padding:0px 0px 10px 0px;}
.article-navigation {background-image: url(images/icon-home.png);background-repeat: no-repeat;background-position: 0px 3px;border-bottom: dotted 1px #CCCCCC;padding-left: 20px;padding-bottom: 5px;}
.article-title h1 {margin:0px;padding:0px 0px 10px 0px;color:#669933;font-size:17px;font-weight:bold;}
.article-info {background-color: #F1F5F8;border: solid 1px #D5E2F1;padding: 5px;}
.section-options{padding:10px;}
.article-content {padding-top:10px;}
.rating-theme2 {padding-left:5px; margin-top:10px;}
.rating-box {border-right:dotted 1px #D5E2F1;padding-left:8px;padding-right:18px; margin-bottom: 10px;}
.rating {border:solid 1px #C60;padding:10px;border-radius:5px;width:195px;background-color:#FFF4EA;}
.rating-title {font-size:14px;font-weight:bold;color:#C60;text-align:center;}
.rating-title span {font-size:12px;font-weight:normal;}
.rating input, .rating select{font-size:11px;}
.rating_bar {margin:6px 0px 0px 25px;width:124px;height:30px;background-image: url(images/rating-none.png);background-repeat: no-repeat;}
.rating_bar div {height: 30px;background-image: url(images/rating-stars.png);background-repeat: no-repeat;}
.article-options {margin-left:20px;margin-bottom: 0px;padding:0px;}
.article-options li {margin:0;padding:0;list-style-type:none;position:relative;border-bottom:dotted 1px #D5E2F1;}
.article-options li a {display:block;line-height:38px;padding:0;min-width:150px;}
.article-options li:last-child {border-bottom:none;}


.mb15{margin-bottom:15px!important;}

.comment-fields{font-size:13px!important;min-width:110px;text-align:left;}
.panel-comments{border: solid 1px #D5E2F1!important;margin-bottom:0px!important;}
.panel-comments-footer{background-color: #F1F5F8!important;}

.Recently{
	padding:0px!important;}
.Recently ul{
	margin:15px auto auto 15px; 
}
.Recently ul li{
	background:#f3f3f4;
	padding:13px;
	border-right:1px solid #bdbfc1;
	border:1px solid #bdbfc1;
	border-bottom:none;
}
.Recently ul li a{ 
	text-decoration:none;color: #0066bc;
}
.Recently ul li a:hover{  
	background: -webkit-linear-gradient( #0066bc, fcfcfc); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient( #0066bc, fcfcfc); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient( #0066bc, fcfcfc); /* For Firefox 3.6 to 15 */
	background: linear-gradient( #0066bc, fcfcfc); /* Standard syntax */
}

.content_one{
	width:100%;
}
.article_name{
	margin:auto auto 15px 5px;
}
.article_name h5{
	margin:0px;
	color:#0066bc;
	font-size:12px;
}
.article_name p{
	color:#8282b4;
	font-size:12px;
}
.Subscribe{
	border:1px solid #e3e3e3;
	border-radius:5px;
	background:#f5fcf5;
	padding:15px 10px!important;
	margin:10px auto;
 }
.Subscribe h3{
	font-size:13px;
	font-weight:bold;
	margin:0px!important;
}
.Subscribe p{
	color:#333333;
	margin:10px auto!important;
}
.news_latter{
	border:1px solid #abadb3!important;
	padding:2px 10px!important;
	color:#000000;
}
.btn{
	padding:3px 10px!important;
	margin-top:-3px;
	font-size:13px!important;
}
.btn-search {padding: 6px 15px!important;margin-top:0;font-size:14px!important;}
.btn-glossary{padding: 6px 12px!important;margin-top:0;font-size:14px!important;}

.copy_write{
	margin:30px auto;
	font-size:12px;
}
.company_name:hover{
	color:#cfa865!important;
}
.article-tabs {
	padding:0px!important;
}
.well{
	background:transparent!important;
	height:auto!important;
	box-shadow:none!important;
	padding:0px!important;
	border:none;
}	
 .hole_contant {
	border:1px solid #f5f5f5!important;
	padding:25px 12px 0px 12px;
	border-top:none!important;
}
.icon-align-justify {
    background-image:url(images/tap_botton.jpg);
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 14px;
}

.tabbable {padding:20px;}

.tap_view li:last-child{
	border-right:none!important;
}
.tap_view{
	border-bottom:1px solid #ddd!important;
}

.dropdown_two {margin:10px auto;}
.dropdown_two dd, .dropdown_two dt, .dropdown_two ul {margin:0px; padding:0px;z-index:9999; }
.dropdown_two dd { position:relative;z-index:4100; }
.dropdown_two a, .dropdown_two a:visited {color:#2A6FA8!important; text-decoration:none; outline:none;}
.dropdown_two a:hover { color:#5d4617;}
.dropdown_two dt a:hover {color:#5d4617;/* border: 1px solid #d0c9af;*/}
.dropdown_two dt a {background:url(images/opation_arrow.png)no-repeat scroll right center; display:block; min-width:110px; margin-right:45px; color:#A4D8FF!important; z-index:2900;}
.dropdown_two dt a span {cursor:pointer; display:block; padding:5px;}
.dropdown_two dd ul { background:#fefefe none repeat scroll 0 0;/* border:1px solid #d4ca9a;*/ color:#C5C0B0; display:none;
left:0px; padding:5px 0px; position:absolute; /*top:2px;*/  width:auto; min-width:120px; list-style:none; border:1px solid #eeeeee; border-radius: 0px 0px 5px 5px; border:1px solid #e9e9e9;}
.dropdown_two span.value { display:none;}
.dropdown_two dd ul li a { padding:5px; display:block; border-bottom:1px solid #f3f3f3;}
.dropdown_two dd ul li a:hover { background-color:#13467f;}
.dropdown_two img.flag { float:left!important;border:none; vertical-align:middle; /*margin-left:10px;*/ margin:5px 10px; }
.flagvisibility { display:none;}
.dropdown_two dt{background:#FFFFFF; border-radius:2px; max-width:120px;} 

.wrapper{ position:relative;}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  width: 94%;
  max-width: 1124px;
  margin: 0 auto;
}

.wrapper-small { max-width:1024px; }

.wrapper-flush { width: 100%; background:Transparent!important; }

.nav#top_view {
  position:fixed;
  top: 0px;
  left:0px;
  width: auto;
  z-index:6503;
  background-color: #Transparent;
}

/** 
* Nav container 
* 1. Ensure this slides in below parent
* 2. Hide by default
* 3. Smoother scrolling experience on iOS
*/

.nav-container {
  position: fixed;
  top: 55px; /* 1 */
  left: 10px;
  z-index:6502;
  overflow-y: auto;
  visibility: hidden; /* 2 */
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%); /* 2 */
  background-color:#Transparent;
  -webkit-overflow-scrolling: touch; /* 3 */
}

/* 1. Show when `.is-visible` class is added */

.nav-container.is-visible {
  visibility: visible; /* 1 */
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); /* 1 */
}

/* Category Nav Toggle */
.nav-toggle {line-height:1;display: inline-block;padding:6px;border:0;background-color:#eee!important;border-radius:2px;color:#666!important;text-transform:uppercase;}
.nav-toggle:hover{background:#fff!important;}
.nav-toggle:focus {outline:0!important;}
.nav-toggle .icon-menu {position: relative;display: inline-block;height:20px;background-image:url(images/category_tree.gif);background-repeat:no-repeat;padding:4px 0px 0px 22px;}

/* Remove default list styles for menus */

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/** 
* 1. Give menu a lighter background than its container 
* 2. Prevent menu text from being accidentally highlighted
*/

.nav-menu {
  background-color: #072756; /* 1 */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;         /* 2 */
}

/* Give menu items a top border */

.nav-menu .menu-item {/* border-top: 1px solid #bbb;*/ }

/* Give last menu item a bottom border */

.nav-menu > .menu-item:last-child { /*border-bottom: 1px solid #bbb; */}

/* Darker background color on hover, and when toggled */

.nav-menu > .menu-item :hover,
.nav-menu > .menu-item.is-active {background-color: #5182c4; }

/* 1. Menu links are block level, by default */

.nav-menu .menu-link {
  display: block; /* 1 */
  text-decoration: none;
  color: #fff;
  padding: 0.75rem 1rem;
}

/* 1. Menu items with drop-downs appear clickable */

.has-dropdown {
  position: relative;
  cursor: pointer; /* 1 */
}
.has-dropdown :hover{
background:#5182c4;
}

/* 1. Parent menu links inlined so you can toggle the dropdown */

.has-dropdown > .menu-link { display: inline-block; }

/* 1. Add an icon to menu items that have sub menus */

.has-dropdown:after {
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 1rem;
  bottom: 0;
  content: "+"; /* 1 */
  color: #fff;
}

/* 1. Switch icon to n-dash when toggled */

.has-dropdown.is-active:after { content: "\2013"; /* 1 */ }

/**
 * Dropdowns
 * 1. Hide dropdowns by default
 */

.nav-dropdown {
  display: none; /* 1 */
  margin:auto 10px;
}

/* 1. Show dropdown when toggled */

.has-dropdown.is-active > .nav-dropdown { display: block; /* 1 */ }

/* 2nd level dropdown */

.nav-dropdown .nav-dropdown { /*background-color: #aaa;*/ }

.nav-dropdown .menu-item { /*border-color: #a0a0a0; */ margin:auto 10px; }

.nav-dropdown .nav-dropdown .menu-item {
  border-color: #909090;
}
#top_view{
	display:none!important;
}

.fixed{
	background:url('images/navbar.png') repeat-x;
	width:100%;
	position:fixed;
	z-index:100;
	height:76px;
}

.logo img{
	margin:10px auto!important;
}

.container {width:100%!important; margin:0px auto;}

.featured {
	background-image: url(images/kb_article_featured.gif);
	background-repeat: no-repeat;
	padding-left:28px;
	background-position: 0px 6px;
	line-height:19px;
	padding-bottom: 6px;
}
.featured-small {
	background-image:url(images/featured.png);
	background-repeat: no-repeat;
	padding-left:28px;
	background-position: 5px 2px;
	line-height:19px;
	padding-bottom: 6px;
}
.article {
	background-image: url(images/kb_article.gif);
	background-repeat: no-repeat;
	padding-left:28px;
	background-position: 0px 6px;
	line-height:19px;
	padding-bottom: 6px;
}
.article-small {
	background-image: url(images/article.png);
	background-repeat: no-repeat;
	padding-left:28px;
	background-position: 5px 2px;
	line-height:19px;
	padding-bottom: 6px;
}
.private-featured {
	background-image: url(images/kb_article_featured_private.gif);
	background-repeat: no-repeat;
	padding-left:28px;
	background-position: 0px 6px;
	line-height:19px;
	padding-bottom: 6px;
}
.private-article {
	background-image: url(images/kb_article_private.gif);
	background-repeat: no-repeat;
	padding-left:28px;
	background-position: 0px 6px;
	line-height:19px;
	padding-bottom: 6px;
}
.private-featured-small {
	background-image:url(images/featured-lock.png);
	background-repeat: no-repeat;
	padding-left:28px;
	background-position: 5px 2px;
	line-height:19px;
	padding-bottom: 6px;
}
.private-article-small {
	background-image:url(images/article-lock.png); 
	background-repeat: no-repeat;
	padding-left:28px;
	background-position: 5px 2px;
	line-height:19px;
	padding-bottom: 6px;
}
.article-title {font-size: 14px;font-weight:bold;}

.date, .grey-text {
	color: #666;
	font-weight: normal;
	font-size: 11px;
	text-decoration: none;
}
.category-title .grey-text {line-height:20px;}

.in_category {
	color: #669933;
}

.section-title-right {
	float: right;
}
fieldset.customfields  {
	border:solid 1px #F1A93F;
	background-color:#FEFEE2;
	margin-bottom:10px;
	padding:10px;
}

fieldset.customfields legend {
	padding: 0.2em 0.5em;
	border:solid 1px #F1A93F;
	color: #F1A93F;
	font-size:11px;
	font-weight:bold;
	text-align:right;
    width:inherit; /* Or auto */
}

/* Homepage Tabs CSS - STARTS */
#hometabs{float:left; width:100%; line-height:normal; margin-top:5px; z-index:99; position:relative; }
#hometabs ul {margin:0; padding:10px 0 0 10px; list-style:none;}
#hometabs li {display:inline; margin:0; padding:0; cursor:pointer;}
#hometabs div {float:left; background:url("images/tableft.png") no-repeat left top; margin:0;	padding:0 0 0 4px;}
#hometabs div a {text-decoration:none;	color: #0066bc;}
#hometabs div span {float:left; display:block; background:url("images/tabright.png") no-repeat right top; padding:5px 15px 4px 10px; line-height: 26px; color:#627EB7;}
#hometabs div.last {float:left; background:url("images/tableft.png") no-repeat left top; margin:0; padding:0 0 0 4px; text-decoration:none;}
#hometabs div.last span {float:left; display:block; background:url("images/tabright.png") no-repeat right top; padding:5px 15px 4px 10px; line-height: 26px; color:#231F20; border-right: 1px solid #ccc;}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#hometabs div span {float:none;}
/* End IE5-Mac hack */
#hometabs div:hover { background-position:0% -42px; }
#hometabs div:hover span { background-position:100% -42px; }
#hometabs .current div { background-position:0% -42px;}
#hometabs .current div span { background-position:100% -42px;font-weight:bold;}
/*Home Tabs - Ends */
dt {font-weight: normal; }

.mb10 {
	margin-bottom: 10px!important;
}

.mb15 {
	margin-bottom: 15px;
}

.mb20 {
	margin-bottom: 20px!important;
}
.mt5 {
	margin-top: 5px!important;
}
.mt10 {
	margin-top: 10px;
}

.mt15 {
	margin-top: 15px;
}

.mt20 {
	margin-top: 20px;
}
.ml30{margin-left:30px!important;}
#faspan ul {margin-left:30px;}
.error-text, .red-text {color:#f00;}
.alert-subscribe{color:#6A6A69;background-color:#FFF9D8;border-color:#F2EBA2;}

/*Search Button Classes*/
.phpkb-search {width:100%;padding:0px!important;}
.search-wrapper {margin-bottom:10px;width:100%;padding:10px;background:#ddd;border:1px solid #bbb;border-radius:5px;}
.search-wrapper input{
	width:99%;
	height:40px;
	padding:10px 115px 10px 5px;
	float:left;
	font-size:14px;
	border:0;
	background:#fff;
	border-radius:3px 0 0 3px;
	border:1px solid #D7D7D7;
}
.search-wrapper input.loading{background: #FFF url(images/loader.gif) no-repeat right 130px top 50% !important;}
.search-wrapper input:focus {outline: 0;}
.search-wrapper input::-webkit-input-placeholder {color: #999;font-weight: normal;font-style: italic;}
.search-wrapper input:-moz-placeholder  {color: #999;font-weight: normal;font-style: italic;}
.search-wrapper input:-ms-input-placeholder  {color: #999;font-weight: normal;font-style: italic;}

.search-wrapper button {
	overflow: visible;
	position: relative;
	float: right;
	border: 0;
	padding: 0;
	cursor: pointer;
	height: 40px;
	width: 110px;
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;
	background:#669933;
	border-radius: 0 3px 3px 0;
	margin-top:-40px;
}
.search-wrapper button:hover{background: #5A862E;}
.search-wrapper button:active,
.search-wrapper button:focus{background: #669933;outline: 0;}
.search-wrapper button:before {content: '';position: absolute;border-width: 8px 8px 8px 0;border-style: solid solid solid none;border-color: transparent #669933 transparent;top: 12px;left: -7px;}
.search-wrapper button:hover:before{border-right-color: #5A862E;}
.search-wrapper button:focus:before{border-right-color: #669933;}
.search-wrapper button::-moz-focus-inner {border: 0;padding:0;}

.attachment-section h4{ font-size:17px;}

/* Live Search CSS -STARTS */
#jquery-live-search {
	background: #fff;
	padding: 0px;
	max-height: 400px;
	margin-top: -2px;
	overflow: auto;
	position: relative;
	z-index: 99;
	border: 1px solid #D7D7D7;
	border-width: 0 1px 1px 1px;
	
	-webkit-box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.3);
	
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
#jquery-live-search::-webkit-scrollbar { width: 8px; /* for vertical scrollbars */ height: 12px; /* for horizontal scrollbars */ border-radius:5px; }
#jquery-live-search::-webkit-scrollbar-track { background: rgba(0, 0, 0, 0.1); border-radius:5px; }
#jquery-live-search::-webkit-scrollbar-thumb { background: rgba(0, 0, 0, 0.5); border-radius:5px; }

ul#live-search-result,
ul#live-search-result li{
	margin:0;
	padding:0;
}
#live-search-result {
	position: relative;
	background: #fff;
	list-style: none;
	top: 0;
	left: -1px;
	margin: 0;
	/*border: 1px solid #d7d7d7;*/
	z-index: 9999;
	border-top: none;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	/*width: 100%;*/
}

#live-search-result li {
	margin: 0;
	border-bottom: 1px solid #f4f4f4;
}
#live-search-result li:last-child {
	margin: 0;
	border-bottom: none;
}

#live-search-result li.no-results {
	display: block;
	color: #646464;
	padding: 15px 15px 20px 5px;
	font-size: 14px;
	border: none;
}

#live-search-result a {
	display: block;
	color: #646464;
	padding: 15px 15px 15px 10px;
	font-size: 14px;
	border: none;
}
#live-search-result,
#live-search-result a{
	font-size: 13px;
}

#live-search-result li span.article {
	background-image: url(images/kb_article.gif);
	background-repeat: no-repeat;
	padding-left:28px;
	background-position: 0px 0px;
	line-height:19px;
	padding-bottom: 6px;
}
#live-search-result li span.featured {
	background-image: url(images/kb_article_featured.gif);
	background-repeat: no-repeat;
	padding-left:28px;
	background-position: 0px 0px;
	line-height:19px;
}
#live-search-result li span.private-featured {
	background-image: url(images/kb_article_featured_private.gif);
	background-repeat: no-repeat;
	padding-left:28px;
	background-position: 0px 0px;
	line-height:19px;
}
#live-search-result li span.private-article {
	background-image: url(images/kb_article_private.gif);
	background-repeat: no-repeat;
	padding-left:28px;
	background-position: 0px 0px;
	line-height:19px;
}

#live-search-result li.noimg{
	display: inline-block;
	background-image: url(images/info-red.png);
	background-repeat: no-repeat;
	padding-left:22px;
	background-position: 0px 0px;
	line-height:19px;
	margin: 15px;
}
/*#live-search-result a i,*/
#live-search-result li span.no-results {
	margin-right: 10px;
	text-align: center;
	width: 15px;
	color: #888;
}

#live-search-result a:hover {
	text-decoration: none;
	background: #F5F5F5;
	border: none;
}
#live-search-result img {
	vertical-align: middle;
	margin: 0 10px 0 0;
}

#live-search-result .nothing-here {
	padding: 0 5px;
}
/* Live Search CSS - ENDS */

.loginmain{width:345px;margin: 20px auto 0px;}
.login-disabled{width:400px;}
.logintable { border:1px solid #CCCCCC; border-radius:4px; padding: 20px 20px 10px 20px;}
.comment {padding:5px;color:#777777;}
.comment-title {
	background-image:url(images/user_comment.png);
	background-repeat: no-repeat;
	padding-left:20px;
	padding-bottom: 5px;
}
.comment-text {
	padding-bottom: 5px;
	border-bottom:1px dotted #999;
}

.Subscribe .copy_write_xs { margin-top:15px; margin-bottom:10px; }
.asterisk {color:#F00;}
#instant_suggestions {
	background-color:#E1FFD1;
	border:solid 1px #C5F8AC;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
	margin-top:10px;
}
#instant_suggestions h4{
	color: #333333;
	font-size: 15px;
	font-weight: bold;
	padding: 0px!important;}
#instant_suggestions a {
	color:#060;
}
#instant_suggestions a:hover {
	color:#C00;
}

.btn-go { padding:9px 16px 10px 16px!important; margin-left:-1px;}

/* Responsive Images/Videos CSS - STARTS */
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper object,
.videoWrapper embed, .videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* Responsive Images/Videos CSS - ENDS */

@media only screen and  ( min-width: 1125px){	
	.phpkb-tree{max-width:100%;}
	.navbar-nav{margin: 12px 6px 0px 0px;}
	 /*.loginmain {max-width:340px;}*/
}
@media only screen and (max-width: 1124px) and ( min-width: 1024px){
	.container {width:100%!important; margin:0px auto;}
	.phpkb-tree{max-width:320px; min-width:auto;}
	.navbar-nav{margin: 12px 6px 0px 0px;}
}
.container {background:#FFF;!important;}
@media only screen and ( min-width: 992px){
	.results-paging .align{text-align:right;}
	.results-paging .text-center{ text-align:left;}
	.layout-fixed .fixed{ width:960px;}
	
	/*.layout-fixed .content-area{padding-left:0px!important;padding-right:0px!important;}
	.layout-fixed .Subscribe{width:950px;margin-left:-15px;}*/
	
	
}
@media only screen and ( max-width: 991px){
	.layout-fixed{width:100%!important;}
	.layout-fixed .fixed{ width:100%!important;}
}
@media only screen and (max-width: 1023px) and ( min-width: 768px){
	.categories_tree{display:none!important;}
	#top_view {display:block!important;margin:12px 12px 0px 12px;}
	
	.dropdown_two{position:absolute;margin:15px auto!important; z-index:6501; right:0%; margin-right:15%!important;}	
	.news{width:100%!important;}
	.right-content{width:100%!important;}
	.article-tabs{width:100%!important;}	
	.navbar{width:100%!important; position:relative; z-index:6500;} 
	.navbar-nav{background:#21252B!important;background-size:100% auto!important;margin:0px!important;float:none!important;width:100%;height:100%;}
	.navbar-nav li:last-child{ border-bottom:none!important;}
    .navbar-header {float: none; height:55px;}
    .navbar-left,.navbar-right {float: none !important;}
    .navbar-toggle {display: block;border:none!important;background:#eee!important;border-radius: 2px!important;margin-top: 12px!important;margin-right: 12px!important;}
	.navbar-toggle:hover {background:#fff!important;}
    .navbar-collapse {
		padding:0px!important;
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
	.navbar-nav li {
		float: none;
		background-image:none!important; 
		margin:10px!important;
		border-bottom:1px solid #2E343A;
    }
    .navbar-nav li a {
		padding-top: 10px;
		padding-bottom: 10px;
		font-size:14px; 
		margin:5px auto!important;
		padding-bottom:5px!important;
		/*color:#777!important;*/
    }
    .collapse.in{
  		display:block !important;
	}
	.navbar-nav:after {border-bottom:6px solid #21252B;border-left:6px solid transparent;border-right:6px solid transparent;content: "";display:inline-block;right:28px;position:absolute;top:49px;}
	.phpkb-tree:after {border-bottom:6px solid #D5E2F1;border-left:6px solid transparent;border-right:6px solid transparent;content: "";display:inline-block;left:25px;position:fixed;top:-6px;}
	.article-title {font-weight:normal;}
	.btn-glossary{padding: 6px 8px!important;}
}
@media only screen and (max-width: 991px) and ( min-width: 768px){
	.mt-sm-10{margin-top:10px;}
	.results-paging .align{text-align:center;}
}
@media only screen and (max-width: 767px) and (min-width: 640px){
	.kbtitle{display:none!important;}
	.logo{margin-right:30%;}
	#top_view {display:block!important;margin:12px 12px 0px 12px;}
	.nav-menu{padding:15px;}
	.categories_tree{display:none!important;}
	.header{position:relative; background:url('images/header.png') repeat-x;}
	.dropdown_two{position:absolute;margin:15px auto!important; z-index:6501; right:0%; margin-right:15%!important;}
	.navbar{width:100%!important; position:relative; z-index:6500;}
	.navbar-nav{background:#21252B!important;background-size: 100% auto!important;margin:0px!important;float:none!important;width:100%;height:100%;}
	.navbar-nav:after {border-bottom:6px solid #21252B;border-left:6px solid transparent;border-right:6px solid transparent;content: "";display:inline-block;right:28px;position:absolute;top:49px;}
	.navbar-nav li {background-image:none!important; margin:10px!important; border-bottom:1px solid #2E343A;}
	.navbar-nav li:last-child{ border-bottom:none!important;}
	.navbar-nav li a{font-size:14px; margin:5px auto!important; padding-bottom:5px!important;}
	.navbar-header{position:relative; height:55px;}
    .navbar-left,.navbar-right {float: none !important;}
    .navbar-toggle {display: block;border:none!important;background:#eee!important;border-radius: 2px!important;margin-top: 12px!important;margin-right: 12px!important;}
	.navbar-toggle:hover {background:#fff!important;}
	.navbar-collapse {padding:0px!important;}
	.copy_write{float:left!important; margin:20px auto;}
	.phpkb-tree:after {border-bottom:6px solid #F1F5F8;border-left:6px solid transparent;border-right:6px solid transparent;content: "";display:inline-block;left:25px;position:fixed;top:-6px;}
	.article-title {font-weight:normal;}
	.mt-sm-10{margin-top:10px;}
	.results-paging .align{text-align:center;}
} 

@media only screen and (max-width: 639px) and ( min-width: 480px){
	.logo{margin-right:20%;}
	.kbtitle{display:none!important;}
	.header{position:relative; background:url('images/header.png') repeat-x;}
	.dropdown_two{position:absolute;margin:15px auto!important; z-index:6501; right:0%; margin-right:15%!important;}	
	.categories_tree{display:none!important;}
	#top_view {display:block!important;margin:12px 12px 0px 12px;}
	.navbar{width:100%!important; position:relative; z-index:6500; float:right!important}
	.navbar-nav{background:#21252B!important;background-size: 100% auto!important;margin:0px!important;float:none!important;width:100%;height:100%;}
	.navbar-nav:after {border-bottom:6px solid #21252B;border-left:6px solid transparent;border-right:6px solid transparent;content: "";display:inline-block;right:28px;position:absolute;top:49px;}
	.navbar-nav li {background-image:none!important; margin:10px!important; border-bottom:1px solid #2E343A;}
	.navbar-nav li:last-child{ border-bottom:none!important;}
	.navbar-nav li a{font-size:14px; margin:5px auto!important; padding-bottom:5px!important;}
	.navbar-header{position:relative; width:100%;!important; height:55px;}
    .navbar-left,.navbar-right {float: none !important;}
    .navbar-toggle {display: block;border:none!important;background:#eee!important;border-radius: 2px!important;margin-top: 12px!important;margin-right: 12px!important;}
	.navbar-toggle:hover {background:#fff!important;}
	.navbar-collapse {padding:0px!important;}
	.phpkb-tree:after {border-bottom:6px solid #F1F5F8;border-left:6px solid transparent;border-right:6px solid transparent;content: "";display:inline-block;left:25px;position:fixed;top:-6px;}
	.article-title {font-weight:normal;}
	.news {background-image:none;}
	.mt-sm-10{margin-top:10px;}
	.results-paging .align{text-align:center;}
}
	
@media only screen and (max-width:479px) and ( min-width: 360px){
	.logo{margin-right:20%;}
	.kbtitle{display:none!important;}
	.categories_tree{display:none!important;}
	.header{position:relative; background:url('images/header.png') repeat-x;}
	#top_view {display:block!important;margin:12px 12px 0px 12px;}	
	.dropdown_two{position:absolute;margin:15px auto!important; z-index:6501; right:0%; margin-right:20%!important;}
	.navbar{width:100%!important; position:relative; z-index:6500; float:right!important}
	.navbar-nav{background:#21252B!important;background-size: 100% auto!important;margin:0px!important;float:none!important;width:100%;height:100%;}
	.navbar-nav:after {border-bottom:6px solid #21252B;border-left:6px solid transparent;border-right:6px solid transparent;content: "";display:inline-block;right:28px;position:absolute;top:49px;}
	.navbar-nav li {background-image:none!important; margin:10px!important; border-bottom:1px solid #2E343A;}
	.navbar-nav li:last-child{ border-bottom:none!important;}
	.navbar-nav li a{font-size:14px; margin:5px auto!important; padding-bottom:5px!important;}
	.navbar-header{position:relative; height:55px;}
    .navbar-left,.navbar-right {float: none !important;}
    .navbar-toggle {display: block;border:none!important;background:#eee!important;border-radius: 2px!important;margin-top: 12px!important;margin-right: 12px!important;}
	.navbar-toggle:hover {background:#fff!important;}
	.navbar-collapse {padding:0px!important;}
	.phpkb-tree:after {border-bottom:6px solid #F1F5F8;border-left:6px solid transparent;border-right:6px solid transparent;content: "";display:inline-block;left:25px;position:fixed;top:-6px;}
	.article-title {font-weight:normal;}
	.news {background-image:none;}
	.mt-sm-10{margin-top:10px;}
	.results-paging .align{text-align:center;}
}
	
@media only screen and (max-width:359px) and ( min-width: 320px){
	.kbtitle{display:none!important;}
	.categories_tree{display:none!important;}
	.header{position:relative; background:url('images/header.png') repeat-x;}
	#top_view {display:block!important;margin:12px 12px 0px 12px;}	
	.logo{margin-right:5%; margin-top:15px;}
	.logo img{ margin-top:10px!important;}	
	.dropdown_two{position:absolute;margin:15px auto!important; z-index:6501; right:0%; margin-right:20%!important;}
	.navbar{width:100%!important; position:relative; z-index:6500; float:right!important}
	.navbar-nav{background:#21252B!important;background-size: 100% auto!important;margin:0px!important;float:none!important;width:100%;height:100%;}
	.navbar-nav:after {border-bottom:6px solid #21252B;border-left:6px solid transparent;border-right:6px solid transparent;content: "";display:inline-block;right:28px;position:absolute;top:49px;}
	.navbar-nav li {background-image:none!important; margin:10px!important; border-bottom:1px solid #bed7e1;}
	.navbar-nav li:last-child{ border-bottom:none!important;}
	.navbar-nav li a{font-size:14px; margin:5px auto!important; padding-bottom:5px!important;}
	.navbar-header{position:relative; height:55px;}
    .navbar-left,.navbar-right {float: none !important;}
    .navbar-toggle {display: block;border:none!important;background:#eee!important;border-radius: 2px!important;margin-top: 12px!important;margin-right: 12px!important;}
	.navbar-toggle:hover {background:#fff!important;}
	.navbar-collapse {padding:0px!important;}
	.phpkb-tree:after {border-bottom:6px solid #F1F5F8;border-left:6px solid transparent;border-right:6px solid transparent;content: "";display:inline-block;left:25px;position:fixed;top:-6px;}
	.article-title {font-weight:normal;}
	.news {background-image:none;}
	.mt-sm-10{margin-top:10px;}
	.results-paging .align{text-align:center;}
}

@media only screen and (max-width:319px) and ( min-width: 240px){
	.kbtitle{display:none!important;}
	.categories_tree{display:none!important;}
	.header{position:relative; background:url('images/header.png') repeat-x;}
	#top_view {display:block!important;margin:12px 12px 0px 12px;}	
	.logo{margin-right:5%;}	
	.dropdown_two{position:absolute;margin:15px auto!important; z-index:6501; right:0%; margin-right:20%!important;}
	.navbar{width:100%!important; position:relative; z-index:6500; float:right!important}
	.navbar-nav{background:#3c87a7!important;background-size: 100% auto!important;margin:0px!important;float:none!important;width:100%;height:100%;}
	.navbar-nav:after {border-bottom:6px solid #21252B;border-left:6px solid transparent;border-right:6px solid transparent;content: "";display:inline-block;right:28px;position:absolute;top:49px;}
	.navbar-nav li {background-image:none!important; margin:10px!important; border-bottom:1px solid #bed7e1;}
	.navbar-nav li:last-child{ border-bottom:none!important;}
	.navbar-nav li a{font-size:14px; margin:5px auto!important; padding-bottom:5px!important;}
	.navbar-header{position:relative; height:55px;}
    .navbar-left,.navbar-right {float: none !important;}
    .navbar-toggle {display: block;border:none!important;background:#eee!important;border-radius: 2px!important;margin-top: 12px!important;margin-right: 12px!important;}
	.navbar-toggle:hover {background:#fff!important;}
	.navbar-collapse {padding:0px!important;}
	.phpkb-tree:after {border-bottom:6px solid #F1F5F8;border-left:6px solid transparent;border-right:6px solid transparent;content: "";display:inline-block;left:25px;position:fixed;top:-6px;}
	.article-title {font-weight:normal;}
	.news {background-image:none;}
	.mt-sm-10{margin-top:10px;}
	.results-paging .align{text-align:center;}
}

/* HR CSS - STARTS */
hr{
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}
/* HR CSS - STARTS */

/*
#tinymce {margin:5px 7px;}
#tinymce ol, #articleContent ol, #articleContent ul, #tinymce ul {margin: 1em 0; padding: 0 0 0 40px;}
#tinymce ol, #articleContent ol {list-style-type: decimal;}
#tinymce ul, #articleContent ul {list-style-type: disc;}
#tinymce p, #articleContent p { margin-bottom:16px;}*/